<div class="tr-banner section-before bg-image">
    <div class="container">
      <div class="banner-content text-center">
        <h1>The Easiest Way to Create a Wiki</h1>
        <h2>Share your ideas with the world!</h2>
        <div class="banner-form">
          <form>
            <input type="text" ng-model = "searchText" class="form-control" placeholder="Wiki Keyword">
            <button type="button" ng-click="search(searchText)" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="tr-recent-news section-padding">
    <div class="container">
      <div class="section-title">
        <h1>Search Results</h1>
      </div>
      <div ng-repeat="wiki in pubWiki" class="blog-content">

        <div class="tr-post media">
          <div class="entry-content media-body">
            <a class="btn btn-success pull-right" ng-href="https://cs157-pubwiki-final-project.pdlep23.repl.co/#!/{{wiki.urlName}}" >View</a>
            <h2 class="entry-title"><a ng-href="https://cs157-pubwiki-final-project.pdlep23.repl.co/#!/{{wiki.urlName}}">{{wiki.title}}</a></h2>
            
            <ul class="entry-meta tr-list">
              <li><i class="fa fa-user"></i>Author: {{wiki.author}}</li>
              <li><i class="fa fa-book"></i>Category: {{wiki.category}}</li>
              <li><i class="fa fa-clock-o"></i>Updated: {{wiki.updatedDate | date:"MM/dd/yyyy"}}</li>
              <li><i class="fa fa-eye"></i> {{wiki.pageViews}} Views</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="tr-steps bg-image section-padding section-before">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="step">
            <div class="step-image">
              <img src="images/icons/step1.png" alt="images" class="img-fluid">
            </div>
            <h1>Step 1</h1>
            <h2>Register an account (Optional)</h2>
            <p>Registering an account will give you the ultimate control over your wikis but we don't require it</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="step">
            <div class="step-image">
              <img src="images/icons/step2.png" alt="images" class="img-fluid">
            </div>
            <h1>Step 2</h1>
            <h2>create a free wiki</h2>
            <p>Just will in some details and begin creating your free PubWiki!</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="step">
            <div class="step-image">
              <img src="images/icons/step3.png" alt="images" class="img-fluid">
            </div>
            <h1>Step 3</h1>
            <h2>Share your wiki</h2>
            <p>Once you create your PubWiki, you can share it with the world!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  