<div class="tr-breadcrumb bg-image section-before">
	<div class="container">
		<div class="breadcrumb-info text-center">
			<div class="page-title">
				<h1>Post/Edit Your Wiki</h1>
			</div>
			<ol class="breadcrumb">
				<li><a href="#!/">Home</a></li>
				<li class="active">Wiki Post/Edit</li>
			</ol>
		</div>
	</div>
</div>

<form> 
  <div class="tr-post-job page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
      
          <div class="section">
            <span class="tr-title">Wiki Info</span>
            <div class="row">
              <div class="col-sm-3">
                <label>Title</label>
              </div>
              <div class="col-sm-9">
                <input type="text" ng-model="title" class="form-control" required/>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <label>Category</label>
              </div>
              <div class="col-sm-9">
                <select ng-model="category" class="form-control" required>
                  <option value="" selected>Select a category</option>
                  <option value="Technology" selected>Technology</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <label>Author</label>
              </div>
              <div class="col-sm-9">
                <input type="text" ng-model="author" class="form-control" required/>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <label>URL Name</label>
              </div>
              <div class="col-sm-9">
                <input type="text" ng-disabled="new" ng-pattern="/^[a-zA-Z0-9-_]+$/" ng-model="urlName" class="form-control" required/>
              </div>
							<label>
            </div>

            <div class="row" ng-show="urlName">
              <div class="col-sm-3">
                <label>Final URL</label>
              </div>
              <div class="col-sm-9">
								https://cs157-pubwiki-final-project.pdlep23.repl.co/#!/{{urlName}}
              </div>
            </div>
          </div>        

          <div class="section">
            <span class="tr-title">Wiki Content</span>
            <div id="editor"></div>
          </div>

          <div class="section agreement">  
            <div class="form-group mb-5">
              <strong>Management Password </strong>
              <input type="password" ng-model="password" class="form-control mb-2" required/>
              <small class="form-text text-muted">A password is needed so you can edit this wiki in the future. If this is a new Wiki, enter a new password, if you are editing an existing Wiki, enter the password you set before.</small>
            </div>

            <div class="mb-5">
              <input type="checkbox" ng-model="terms" required/>
              You agree to our <a href="#" target="_blank">Terms of Use</a> and <a href="#" target="_blank">Privacy Policy</a> and acknowledge that you
              are the rightful owner of this content.
            </div>

            <div class="buttons">
              <button type="button" ng-disabled="!terms" class="btn btn-primary" ng-click="post()">Save Wiki</button>
              <a href="#!/" class="btn button-cancle">Cancel</a>
              <button type="button" ng-click="delete()" class="btn btn-danger pull-right">Delete Wiki</button>
            </div>
          </div>

          <div class="section">
            <span class="tr-title">Live Site</span>
            <h3><a href="https://cs157-pubwiki-final-project.pdlep23.repl.co/#!/{{urlName}}"  target="_blank"> https://cs157-pubwiki-final-project.pdlep23.repl.co/#!/{{urlName}}</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>