<div class="tr-breadcrumb bg-image section-before">
  <div class="container">
    <div class="breadcrumb-info text-center">
      <div class="page-title">
        <h1>Create a New Account</h1>
      </div>
    </div>
  </div>
</div>

<div class="tr-account section-padding">
  <div class="container text-center">
    <div class="user-account">
        <div class="account-content">
          <form class="tr-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Full Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="your Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
            <button type="button" class="btn btn-primary">Sign Up</button>
          </form>
          <div class="new-user text-center">
            <span>Already Registered? <a href="#!/signin">Sign in</a> </span>
          </div>
        </div>
    </div>
  </div>
</div>